<!DOCTYPE html>

<html>
<head>
  <link href="style.css" rel="stylesheet">
  <style>
      .node {
      fill: #ccc;
      stroke-width: 2px;
    }

    .link {
      stroke: #777;
      stroke-width: 2px;
    }

    text {
      fill: #000;
      font: 10px sans-serif;
      pointer-events: none;
    }
  </style>
</head>

<body>

<script src="https://d3js.org/d3.v4.min.js"></script>

<script>


  d3.json("/data.json", makeForceGraph);

  function makeForceGraph(error, data) {
    var dataNodes = data.nodes;
    var links = data.paths;
    debugger;

    var width = 960;
    var height = 500;

    var force = d3.forceSimulation(d3.values(dataNodes))
        .force("link", d3.forceLink(links).distance(75))
        .force("center", d3.forceCenter(width / 2, height/ 2))
        .force("charge", d3.forceManyBody())
        .on("tick", tick);

    var svg = d3.select("body")
        .append("svg")
        .attr("width", width)
        .attr("height", height);

    // add the links and the arrows

    var link = svg.selectAll(".link")
        .data(links)
        .enter()
          .append("line")
          .attr("class", "link");

    // define the nodes

    var node = svg.selectAll(".node")
        .data(force.nodes())
        .enter()
          .append("g")
          .attr("class", "node")
          .call(d3.drag()
              .on("start", dragstarted)
              .on("drag", dragged)
              .on("end", dragended));

    var color = d3.scaleOrdinal(d3.schemeCategory10);

    node.append("circle")
        .attr("r", 15)
        .style("fill", function (d) {
          console.log(d.source);
          return color(d.adviser);
        });

    // add the text

    node.append("text")
        .attr("x", 6)
        .text(function (d) {
          return d.name;
        });

    // "schproing!"

    function tick() {
      link.attr("x1", function (d) {
            return d.source.x;
          })
          .attr("y1", function (d) {
            return d.source.y;
          })
          .attr("x2", function (d) {
            return d.target.x;
          })
          .attr("y2", function (d) {
            return d.target.y;
          });

      node.attr("transform", function (d) {
        return "translate(" + d.x + "," + d.y + ")";
      });
    }

    function dragstarted(d) {
      if (!d3.event.active) {
        force.alphaTarget(0.3).restart();
      }
    }
        
    function dragged(d) {
      d.fx = d3.event.x;
      d.fy = d3.event.y;
    }
        
    function dragended(d) {
      if (!d3.event.active) {
        force.alphaTarget(0);
      }

      d.fx = null;
      d.fy = null;
    }


  }

</script>
</body>
</html>
