appdirs==1.4.3
appnope==0.1.4
backports.shutil-get-terminal-size==1.0.0
bcrypt==4.1.3
blinker==1.6.2
certifi==2024.6.2
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.7
decorator==4.0.11
enum34==1.1.6
Flask==3.0.3
Flask-Assets==2.1.0
Flask-DebugToolbar==0.10.0
flask-heroku==0.1.9
Flask-SQLAlchemy==3.1.1
greenlet==3.0.3
idna==3.7
ipython==5.2.2
ipython-genutils==0.1.0
itsdangerous==2.1.2
Jinja2==3.1.4
MarkupSafe==2.1.5
oauth==1.0.1
oauthlib==2.0.1
packaging==16.8
pathlib2==2.2.1
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.13
psycopg2-binary==2.9.9
ptyprocess==0.5.1
pycparser==2.17
Pygments==2.2.0
pyparsing==2.1.10
requests==2.32.3
requests-oauthlib==0.7.0
scandir==1.10.0
setuptools==70.0.0
simplegeneric==0.8.1
six==1.10.0
SQLAlchemy==2.0.30
traitlets==4.3.1
typing_extensions==4.12.2
urllib3==2.2.1
wcwidth==0.1.7
webassets==2.0
Werkzeug==3.0.3
wheel==0.43.0
