
.container-fluid {
  position: fixed;
  z-index: 1;
  width: 100%;
  /* border-color: black; */

}

.navbar-default {
  border: none !important;
  padding: none !important;

}

.nav, .navbar, .navbar-default, .navbar-default, .container-fluid {
  background-color: black;
  font-size: 24px;
  height: 120px;
  font-family: 'Raleway', sans-serif;
}

.navbar-brand:hover{
  color: #bde8ef !important;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 60px;
  font-family: 'Josefin Slab', serif;
  margin: 30px;
  /* float: right; */
  z-index: 2;
  position:relative;
  border: none !important;

}

.navbar-default .navbar-nav>li>a {
  color: white;
  padding-top: 4rem;
}

.navbar-default .navbar-nav>li>a:hover {
  color: #bde8ef;

}

.navbar-right{
  margin-top: -10px;
  margin-right: 0;
}

#navbar-center{
  text-align: center;
}

img#coverphoto {
  height: 400px;
  width: 400px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-left: -200px;


}

.mainBoard{
  padding: 20px;
}

#dogPictures{
  padding-left: 35px;
  padding-right: 0px;

}

#intakeData{
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;

}

.recentAddNotes {
  border: #efefef 3px solid;
  padding: 30px;
  border-radius: 15px;
  background-color: #eaeaea;
  font-size: 24px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: 'Raleway', sans-serif;
  margin:50px;
  font-weight: bold;
  opacity: .80;
}

.addDogForm {
  border: #efefef 3px solid;
  padding: 30px;
  border-radius: 15px;
  background-color: #eaeaea;
  font-size: 24px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: 'Raleway', sans-serif;
  margin: 30px 10px 100px 200px;
  font-weight: bold;
  opacity: .80;
  height: 700px;
  width: 520px;
 

}

.signin {
  border: #efefef 3px solid;
  padding: 30px;
  border-radius: 15px;
  background-color: #eaeaea;
  font-size: 24px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: 'Raleway', sans-serif;
  height: 400px;
  width: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-left: -250px;
  font-weight: bold;
  opacity: .80;
  text-align: center;

}

.register {
  border: #efefef 3px solid;
  padding: 30px;
  border-radius: 15px;
  background-color: #eaeaea;
  font-size: 24px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: 'Raleway', sans-serif;
  height: 700px;
  width: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  margin-top: 100px;
  margin-left: -250px;
  font-weight: bold;
  opacity: .80;
  text-align: center;

}

#shiftDuration, #otherCrew{
  padding-top: 10px;
    
}


.greeting{
  font-size: 36px;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  margin-left: 50px;
 

}


.dogPicture   {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 10px;
    margin: 10px;
/*    padding-left: 0;
    padding-right: 0;*/
}



img.dogPicture:hover  {
  opacity: .70;

}

.container {
  margin: 0;
  width: 100%;
  background-image: url("subtle_dots_@2X.png");
  padding-bottom: 200px;


}


.textbox {
  height: 300px;
  width: 820px; 
  background-color: #eaeaea;
  border-radius: 15px;
  line-height: 2em; 
  padding: 25px 5px 400px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;

}

.pupdatebox {
  width: 100%; 
  border-radius: 15px;
  line-height: 2em; 
  padding: 25px 5px 400px 0;
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  position: fixed;
  z-index: 1;
  width: 100%;
}

#submitButton {
    background-color: #a0d8f3; 
    border: #a0d8f3 3px solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#pupdateButton {
    background-color: #A2FF96; 
    border: #A2FF96 3px solid;
    color: black;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

#submitButton:hover {
  background-color: #bde8ef;
}

#pupdateButton:hover {
  background-color: #d5ffce;
}

.formHeadings {
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
}

#comChart{
  display: block;
  margin: auto;
  width: 40%;

}

.dogCommandsGraph {
  max-height: 550px;
  max-width: 650px;
  align-content: center;

}

.link {
      stroke: #777;
      stroke-width: 3px;
    }


.miniDogPicture   {
    display: block;
    border-radius: 50%;
    border: 12px solid;
    border-color: #d5ffce;
    height: 250px;
    width: 250px;
    vertical-align: top;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.dogNames{
  font-family: 'Raleway', sans-serif;
  font-size: 24px;

}

.dogNames:hover{
  font-weight: bold;
  font-size: 30px;

}

.dogForm, .subText{
  font-family: 'Raleway', sans-serif;
  font-size: 24px;
  padding: 25px;
  background-color: #efefef; 
  border-radius: 15px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}

.pupdateForm {
  padding:25px;
  background-color: #efefef; 

}

.icon{

}

.dogIntakeProfile {
  vertical-align: top;
  top: 0;
  right:0;
}


.dogFriendGraph{
  right: 0;
  vertical-align: top;
  
}

.graphCircle{
  fill: #a0d8f3;
}

.graphText{
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;

}

.addDogForm{
  vertical-align: bottom;
  left:0;
  padding: 50px;


}

.error {
  color: red;
}

.message {
  color: #a0d8f3;
  padding-top: 2rem;
}
  



