
.nav, .navbar, .navbar-default, .navbar-default, .container-fluid {
  background-color: black;
  color: white;
  border-radius: 0px;
  font-size: 18px;
  height: 120px;
  font-family: 'Raleway', sans-serif;
}

.navbar-default .navbar-brand {
  color: white;
  font-size: 50px;
  font-family: 'Josefin Slab', serif;
 
}

.navbar-default .navbar-nav>li>a {
  color: white;

}

.mainBoard{
  padding: 50px;
}

#dogPictures{
  padding: 50px;
}

#intakeData{
  padding: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;

}

.recentAddNotes{
  border: #efefef 3px solid;
  padding: 30px;
  border-radius: 15px;
  background-color: #eaeaea;
  font-size: 18px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  font-family: 'Raleway', sans-serif;
  margin:50px;
  font-weight: bold;
  opacity: .80;
}

#shiftDuration, #otherCrew{
  padding-top: 10px;
    
}


.greeting{
  font-size: 36px;
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  margin-left: 50px;
 

}

.dogPicture   {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    padding: 10px;
}

.container {
  margin: 0;
  width: 100%;
  background-image: url("subtle_dots_@2X.png");
  padding-bottom: 500px;


}

.textbox {
  height: 200px;
  width: 700px; 
  background-color: #eaeaea;
  border-radius: 15px;

}

.pupdatebox {
  height: 150px;
  width: 400px; 
  background-color: #eaeaea;
  border-radius: 15px;
}

#submitButton {
    background-color: #a0d8f3; 
    border: #a0d8f3 3px solid;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#pupdateButton {
    background-color: #A2FF96; 
    border: #A2FF96 3px solid;
    color: black;
    padding: 6px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-family: 'Raleway', sans-serif;
    font-weight: bold;

}

#submitButton:hover {
  background-color: white;
}

#pupdateButton:hover {
  background-color: white;
}

.formHeadings {
  font-family: 'Josefin Slab', serif;
  font-size: 18px;
}

#comChart{
  display: block;
  margin: auto;
  width: 40%;

}

.dogCommandsGraph {
  max-height: 550px;
  max-width: 650px;
  align-content: center;

}

.link {
      stroke: #777;
      stroke-width: 3px;
    }


.miniDogPicture   {
    display: block;
    border-radius: 80px;
    height: 70px;
    width: 70px;
    padding: 10px;
    vertical-align: top;
}

.dogNames{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;

}

.pupdateForm, .dogForm, .subText{
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

.icon{

}

.dogIntakeProfile {
  vertical-align: top;
  top: 0;
  right:0;
}


.dogFriendGraph{
  right: 0;
  vertical-align: top;
  
}

.graphCircle{
  fill: #a0d8f3;
}

.graphText{
  font-weight: bold;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;

}




