{% extends 'base.html' %}
{% block content %}

<br>Welcome to The Barn {{ crew.fname }}<br>

Latest Notes from {{ recent_notes.date_time }}:<br>{{ recent_notes.notes }}<br>

<form action="/addnotes" method="POST">
    <br>
    <div id="shiftTime">
        <input type="date" name="date">
        <input type="time" name="time">
    </div>
    <div id="shiftDuration">
        <select name="duration_shift">
            <option value="Duration" name="duration">Duration</option>
            <option value="1 hour" name="duration">1 hour</option>
            <option value="2 hours" name="duration">2 hours</option>
            <option value="3 hours" name="duration">3 hours</option>
            <option value="4 hours" name="duration">4 hours</option>
        </select>
    </div>
    <div id="otherCrew">
        <select name="crew_name">
                <option value="support">Support</option>
            {% for crew in all_crew %}
                <option value="{{ crew.fname }}">{{ crew.fname }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="submit" name="createshift" value="Add Shift Notes"><br>
</form>

<script src="https://d3js.org/d3.v4.min.js"></script>

<div class="dogFriendGraph" style='display:none'>
    <script> 
    // load data
        d3.json("/playmates.json", makeTreeGraph);

        function makeTreeGraph(error, data){
            var dogNodes = data.dog_nodes;
            var dogLinks = data.dog_links;

            // debugger;

        // visualization dimensions 

        // svg container 

        //     var margin = {top: 20, right: 120, bottom: 20, left: 120};
        //     var width = 960 - margin.right - margin.left;
        //     var height = 500 - margin.top - margin.bottom;
        
        //     var i = 0;

        //     var tree = d3.layout.tree().size([height, width]);

        //     var diagonal = d3.svg.diagonal().projection(function(d) { return [d.y, d.x]; });

        //     var svg = d3.select("body").append("svg").attr("width", width + margin.right + margin.left).attr("height", height + margin.top + margin.bottom).append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");

        //     root = dogNodes[0][1];
          
        //     update(root);



        };


    </script>
</div>


<br>
{% for dog in dogs %}

   <div>
        <p class="dogProfile" data-dog="{{ dog.dog_id }}" style="display: none">{{ dog.dog_name }}</p>
   </div>
   
   <img src= "static/images/{{ dog.dog_name }}.jpg" id="dogp{{ dog.dog_id }}" class="dogPicture" data-dog="{{ dog.dog_id }}">
   <div class="dogIntakeProfile" id="{{ dog.dog_id }}" style="display: none;"><br>
<br>
Name: {{ dog.dog_name }}<br>

Latest Pupdate: <br>
{% for dogshift in recent_dogshifts %}
    {% if dog.dog_id == dogshift.dog_id %}
        {{ dogshift.notes }}      
    {% endif %}
{% endfor %}<br>

Playmates: <br>
Graphs: <br>
Kennel ID: {{ dog.kennel_id }}<br>
Breed: {{ dog.breed }}<br>
Gender: {{ dog.gender }}<br>
Altered: {{ dog.altered }}<br> 
Age: {{ dog.age }}<br>
Intake Date: {{ dog.intake_date }}<br>
<br>
    </div>
</form>

{% endfor %}
{% endblock %}