{% extends 'base.html' %}
{% block content %}

Welcome {{ crew.fname }}

<form action="/addnotes" method="POST">
    <br>
    <select>
        <option value="Morning" name="time">Morning</option>
        <option value="Noon" name="time">Noon</option>
        <option value="Evening" name="time">Evening</option>
    </select>
    <input type="submit" name="createshift" value="Create Shift"><br>
</form>

<form action="/calendar" method="GET">
    <br>
    <input type="submit" value="Shift Calendar"><br>
    <br>
</form>

{% for dog in dogs %}

   <div>
        <p class="dogProfile" data-dog="{{ dog.dog_id }}">{{ dog.dog_name }}</p>
   </div>
   <div class="dogIntakeProfile" id="{{ dog.dog_id }}" style="display: none;"><br>
Name: {{ dog.dog_name }}<br>
Kennel ID: {{ dog.kennel_id }}<br>
Breed: {{ dog.breed }}<br>
Gender: {{ dog.gender }}<br>
Altered: {{ dog.altered }}<br> 
Age: {{ dog.age }}<br>
Intake Date: {{ dog.intake_date }}<br>
Playmates: <br>
    </div>
</form>

{% endfor %}
{% endblock %}