{% extends 'base.html' %}
{% block content %}

<br>Welcome to The Barn {{ crew.fname }}<br>

Latest Notes from {{ recent_notes.date_time }}:<br>{{ recent_notes.notes }}<br>

<form action="/addnotes" method="POST">
    <br>
    <div id="shiftTime">
        <input type="date" name="date">
        <input type="time" name="time">
    </div>
    <div id="shiftDuration">
        <select name="duration_shift">
            <option value="Duration" name="duration">Duration</option>
            <option value="1 hour" name="duration">1 hour</option>
            <option value="2 hours" name="duration">2 hours</option>
            <option value="3 hours" name="duration">3 hours</option>
            <option value="4 hours" name="duration">4 hours</option>
        </select>
    </div>
    <div id="otherCrew">
        <select name="crew_name">
                <option value="support">Support</option>
            {% for crew in all_crew %}
                <option value="{{ crew.fname }}">{{ crew.fname }}</option>
            {% endfor %}
        </select>
    </div>
    <input type="submit" name="createshift" value="Add Shift Notes"><br>
</form>

{% for dog in dogs %}

   <div>
        <p class="dogProfile" data-dog="{{ dog.dog_id }}">{{ dog.dog_name }}</p>
   </div>
   <img src= "static/images/{{ dog.dog_name }}.jpg" class="dogPicture">
   <div class="dogIntakeProfile" id="{{ dog.dog_id }}" style="display: none;"><br>

Name: {{ dog.dog_name }}<br>

Latest Pupdate: <br>
{% for dogshift in recent_dogshifts %}
    {% if dog.dog_id == dogshift.dog_id %}
        {{ dogshift.notes }}
    {% else %}
        {% for prevdogshift in previous_dogshifts %}
            {%if dog.dog_id == prevdogshift.dog_id%}
                {{ prevdogshift.notes }}
            {% endif %} 
        {% endfor %}       
    {% endif %}
{% endfor %}<br>

Playmates: <br>
Graphs: <br>
Kennel ID: {{ dog.kennel_id }}<br>
Breed: {{ dog.breed }}<br>
Gender: {{ dog.gender }}<br>
Altered: {{ dog.altered }}<br> 
Age: {{ dog.age }}<br>
Intake Date: {{ dog.intake_date }}<br>

    </div>
</form>

{% endfor %}
{% endblock %}