<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/thebarn.css" rel="stylesheet">
</head>

<body>
     <span>    
    {% if "crew_id" in session %}
        <a href="/logout">Logout</a><br>
        <a href="/calendar">Shift Calendar</a>
    {% else %}
        <a href="/sign_in">Sign In</a>
    {% endif %}
    </span>
{% for flash in get_flashed_messages() %}
  {{ flash }}
{% endfor %}

{% block content %}
    Put your body here.
{% endblock %}


<!--     <script src="http://requirejs.org/docs/release/2.2.0/minified/require.js" type="text/javascript"></script> -->
    <script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
    <script src="/static/js/dog-shift.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- <script type="text/javascript">
 
    $(document).ready(function(){
        console.log('lol am I being called?')
 
        $("body").html("jQuery is working");    
 
    });
 
</script> -->
</body>
</html>



 
