<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/thebarn.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:600,700|Raleway:400,500" rel="stylesheet">
</head>

<body>
<nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Pupdates</a>
            </div>
            <div id="navbar">
                <ul class="nav navbar-nav navbar-right">
                    {% if "crew_id" in session %}
                    <li><a href="/thebarn">The Barn</a></li>
                    <li><a href="/calendar">Shift Calendar</a></li>
                    <li><a href="/logout">Logout</a></li>
                    {% else %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/sign_in">Sign In</a></li>
                    <li><a href="about.html">About</a></li>
                    <li><a href="/register">Register</a></li>
                    {% endif %}
                </ul>
                <ul id="navbar-center">
                    {% for flash in get_flashed_messages() %}
                      {{ flash }}
                    {% endfor %}
               </ul>
            </div>
        </div>
    </nav>

<div class="container">
    

 

{% block content %}
    Put your body here.
{% endblock %}

</div>
<!--     <script src="http://requirejs.org/docs/release/2.2.0/minified/require.js" type="text/javascript"></script> -->
    <script src="https://code.jquery.com/jquery.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.2.1/Chart.js"></script>
    <script src="/static/js/dog-shift.js" type="text/javascript"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>


<!-- <script type="text/javascript">
 
    $(document).ready(function(){
        console.log('lol am I being called?')
 
        $("body").html("jQuery is working");    
 
    });
 
</script> -->


        
</body>
</html>



 
